body{
    background-image: url(C:\Users\EuduardoEsron\Desktop\Landhouse\images\circulo-azul-abstrato-na-tecnologia-de-fundo-preto_1142-12714.avif);
    background-size: cover;
    background-repeat: no-repeat;
}
.insta{
    position: absolute;
    top: 45%;
    left: 35%;
}
