.body{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}
.insta{
    position: absolute;
    top: 50%;
    left: 30%;
}
.zapzop{
    position: absolute;
    top: 49%;
    left: 45%;
}
